<header id="header" class="f5 fixed pa3 flex bb b--foreground-text justify-between top-0 w-100 items-baseline z-3">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

  <div class="flex items-center">
    <a class="b no-underline f4 foreground-text anthony mr3" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>
  </div>


  {%- if titles_size > 0 -%}
    <nav class="f7 code flex">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <a class="br-pill ba pv1 ph2 mr2 no-underline foreground-text" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  {%- endif -%}
</header>