@media screen and (max-width: 800px) {
    article {
        width: 100% !important;

        button {
            display: none;
        }

        .note-title {
            font-size: 3em;
        }
    }

    aside .flex {
        flex-direction: column;
    }

    #note-container {
        padding-top: 400px;
        pointer-events: none;

        div {
            pointer-events: auto;
        }
    }

    #gardenConditions {
        display: none;
    }

    nav {
        display: none !important;
    }
}