:root {
  --active-note: #312937;
  --foreground-text: #312937; //#3863ff;
  --stroke-color: #FFC401; //#94A8F8;
  --internal-link-background-rgb: 239,	239,	239;
  --internal-link-text-rgb: 56,	99,	255;
  --background: #FFFFFF; //#EFEFEF;
  --background-note: #FFFFFF;
}

.bg-foreground-text {
  background-color:var(--foreground-text);
}

.b--foreground-text {
  border-color:var(--foreground-text);
}

.foreground-text {
  color:var(--foreground-text);
}

.bg-background {
  background-color:var(--background);
}

.b--background {
  border-color:var(--background);
}

.bg-note {
  background-color: var(--background-note);
}