---
layout: default
---
<div class="flex">
  <article id="note-container" class="mt4 w-50 w-100-m pr0-l relative z-1">
    <div class="container bt br bg-note min-vh-100-header-comp pa3 flex flex-column justify-between">
      <header>
        <div class="flex pt3 f7 bb ia-writer">
          {% if page.date_created %}
            <time class="pr4 pa2 br pb3" datetime="{{ page.date_created | date_to_xmlschema }}">{% if page.type != 'pages' %}
              Created <br> {{ page.date_created | date: "%B %-d, %Y" }}
              {% endif %}
            </time>
          {% else %}
            <time class="pr4 br pa2 pb3" datetime="{{ page.date | date_to_xmlschema }}">{% if page.type != 'pages' %}
              Created <br> {{ page.date | date: "%B %-d, %Y" }}
              {% endif %}
            </time>
          {% endif %}
          <time class="pr4 br pa2 pb3" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
            Last updated <br> {{ page.last_modified_at | date: "%B %-d, %Y" }}
            {% endif %}
          </time>
        </div>
        <h1 class="b pt5 mb3 pr3 pb4 bb relative ia-writer f1-ns f2 lh-solid">{{ page.title }}</h1>
        {% if page.source %}<p class="note-source">This text was originally published in <a href="{{page.source-link}}">{{page.source}}</a></p>{% endif %}
      </header>

      <div id="notes-entry-container" class="flex-auto">
        <div class="note-contents f5 lh-copy">
          {{ content }}
        </div>
      </div>

      <aside class="nl3 nr3 ph3 mt5">
        <h2 class="normal f2-m mv4 ia-writer lh-solid">Notes mentioning this note</h2>
        {% if page.backlinks.size > 0 %}
        <div class="flex flex-wrap">
        {% for backlink in page.backlinks %}
          <div class="w-50-ns w-100 flex">
            <div class="mb2 mr2 br4 pa3 flex flex-column note-mention">
              <h3 class="mt0 f5 mb2"><a class="internal-link" href="{{ backlink.url | relative_url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a></h3>
              <div class="f7 lh-copy mb3 flex-auto">{{ backlink.excerpt | strip_html | truncatewords: 20 | remove: '[[' | remove: ']]' }}</div>
              <div class="f7 light-silver">{{ backlink.url }}</div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
        <div>
          <p class="f7">
            There are no notes linking to this note.
          </p>
        </div>
        {% endif %}
      </aside>
    </div>
  </article>

  {% include notes_graph.html %}

</div>